# ======================================
# BANCO DE DADOS — MITS
# ======================================

DB_MITS_HOST=localhost
DB_MITS_USER=usuario_mits
DB_MITS_PASS=senha_mits
DB_MITS_NAME=database_mits

# ======================================
# BANCO DE DADOS — GIS
# ======================================

DB_HOST_GIS=localhost
DB_USER_GIS=usuario_gis
DB_PASS_GIS=senha_gis
DB_NAME_GIS=database_gis

# ======================================
# CONFIGURAÇÃO DE E-MAIL
# ======================================

EMAIL_REMETENTE=seu-email@empresa.com
EMAIL_PASS=sua-senha-ou-app-password

# Lista de destinatários separada por vírgula
# Use "\" para quebrar linha e melhorar a visualização
EMAIL_DESTINO=usuario1@empresa.com,\
usuario2@empresa.com,\
usuario3@empresa.com